<!DOCTYPE html>
<html>
  <head>
    <title>Adder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 500px;
            padding-top: 20px;
        }
        input {
            max-width: 200px;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <h1>Adder</h1>
        <br>
        <form role="form23" method="post">
            <div class="form-group">
                <input type="number" class="form-control" name="number-one" placeholder="Enter a number" required>
                <input type="number" class="form-control" name="number-two" placeholder="Enter a number" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br>
        <p>The calculated value is {{value}}</p>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>