<!DOCTYPE html>
<html>

  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 500px;
            padding-top: 20px;
        }
        input {
            max-width: 200px;
        }
    </style>
    <script type="text/javascript">
            function myfunction () {

                // body...

                var dom = document.getElementById('morestockdetails');
                dom.style.visibility = "visible"   

                var dom = document.getElementById('stockdetailstable');
                dom.style.visibility = "visible"   
                var dom = document.getElementById('but1');
                dom.style.visibility = "visible"   
               
            }
            function myfunction2 () {

                // body...

                var dom = document.getElementById('personalizedRec');
                dom.style.visibility = "visible"   

                var dom = document.getElementById('recotable');
                dom.style.visibility = "visible"   
               
            }
    </script>
  </head>



  <body>
    <div class="container">
        <h1>Dashboard</h1>
        <br>
        
        <p>
                Welcome Mr {{username}}! <br/>
                Your Account Details is <br/>
                Account Number - {{accno}} <br />
                Balance = ₹{{balance}}/- <br />
        </p>

        <input type="button"  class="btn btn-primary" onclick="myfunction();" value="ViewStocks">
         <p style="visibility: hidden;" id="morestockdetails">
            Stocks of Mr {{username}}    
            <table class="table" style="visibility: hidden;" id="stockdetailstable">
                <tr><td>Stock Symbol</td>
                <td>Quantity</td>
                </tr>
                {% for d in data.keys() %}    
                <tr>
                    <td>{{d}}</td>
                    <td>{{data[d]}}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="button" style="visibility: hidden;"  id="but1" class="btn btn-primary" onclick="myfunction2();" value="Get Personalized Recs">
        </p>

         <p style="visibility: hidden;" id="personalizedRec">
            These Recommendations just for you,  Mr {{username}}.    
            <table class="table" style="visibility: hidden;" id="recotable">
                <tr><td>Stock Symbol</td>
                <td>Public Sentiment</td>
                <td>Volatility</td>
                <td>Current Value</td>
                <td>Future Value[1 day later]</td>
                </tr>
                {% for d in [0,5,10] %}    
                <tr>
                    <td>{{data2[0+d]}}</td>
                    <td>{{data2[1+d]}}</td>
                    <td>{{data2[2+d]}}</td>
                    <td>{{data2[3+d]}}</td>
                    <td>{{data2[4+d]}}</td>
                </tr>
                {% endfor %}
            </table>
            
        </p>
      

    </div>




    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>