<!DOCTYPE html>
<html>

  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 500px;
            padding-top: 20px;
        }
        input {
            max-width: 200px;
        }
    </style>
  </head>



  <body>
    <div class="container">
        <h1>ViewStocks</h1>
        <br>
        <p>
            Stocks of Mr {{username}}
            {% for d in data.keys() %}
            <p>Stock Name = {{d}} <br> </p>
            <p>Quantity = {{data[d]}}<br></p>
            {% endfor %}
        </p>
      
    </div>




    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>